{
  "extends": "eslint:recommended",
  "rules": {
    "semi": [2, "never"],
    "quotes": [2, "double"],
    "no-console": 1
  },
  "env": {
    "node": true,
    "browser": true,
    "mocha": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  }
}
